body{
    background-color: #CDCACE;
}

.todo-app {
    margin: 3rem auto 0 auto;
    max-width: 70%;
    /*max-height: 800px;*/
    color: #4F0A79;
}

.todo-app-cont{
    background-color: #D6D4D8;

    border-radius: 25px 10px;
    padding: 30px;
}

.container {
    padding-bottom: 25px;
    background-color: #CDCACE;
    /*border-radius: 5%;*/
}

.top-panel {
    margin: 1rem 0;

}